@{
    ViewBag.Title = "Traductor";
}

<h2>Traductor</h2>

<a class="alert" href="@Url.Action("Index", "Archivo")">Ir al Index</a>

<form class="form" method="post" action="Traducir"  style="margin-top:2rem;">
    <input type="text" name="palabra" class="input-group-text"/>

    <div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="seleccion" id="seleccion1" value="1">
            <label class="form-check-label" for="seleccion1">
                Español
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="seleccion" id="seleccion2" checked value="2">
            <label class="form-check-label" for="seleccion2">
                Inglés
            </label>
        </div>
    </div>

    <input type="submit" value="Traducir" />
</form>

<hr />

<h1>@ViewBag.Palabra</h1>
<h1> => </h1>
<h1>@ViewBag.Traduccion</h1>